.container {
    color: #333;
    margin-bottom: 60px;
}

.inner_container {
    width: 980px;
    margin: 0 auto;

}

.page_title_div {
    margin-top: 100px;
    display: flex;
    gap: 14px;
    
}

.page_title,
.vacancy_count {
    font-weight: 400;
}

.main_button {
    margin-top: 24px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #186FC5;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: all ease 0.5s;
}

.main_button:hover {
    background-color: #1761ab;
    transition: all ease 0.5s;
}

.company_info_div {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 24px;
}

.company_logo {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: 0.5px solid rgb(231, 231, 231);
}

.company_name {
    font-size: 14px;
    font-weight: 400;
    color: #186FC5;
}

.location_div {
    display: flex;
    align-items: center;
    gap: 2px;
}

.location_logo {
    color: #777777;
}

.location {
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    line-height: 14px;
}

.vacancy_info_div {
    margin-top: 28px;
    display: flex;
    gap: 40px;
}

.descriptions {
    width: 70%;
}

.short_description {
    font-size: 20px;
    line-height: 150%;
}

.detailed_description {
    margin-top: 28px;
}

.vacancy_info {
    height: 100%;
    width: 30%;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 4px;
    padding: 16px 0px 16px 24px;
}

.info:last-child {
    margin-top: 4px;
}

.aplication_div {
    margin-top: 38px;

}

.custom_file_upload {
    border-radius: 4px;
    border: 1px solid #777777;
    display: inline-block;
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
    text-align: left;
    padding: 6px 12px;
    cursor: pointer;
    width: 200px;

}

.site_title {
    margin-top: 24px;
    font-weight: 600;
}

.site_link {
    color: #1761ab;
    cursor:pointer; 
    text-decoration: none;
}

textarea {
    resize: vertical;
    margin-top: 14px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    color: #777777;
    border: 1px solid #777777;
    margin: 0;
}

.cover_letter {
    width: 500px;
}

.main_button_disabled {
    margin-top: 24px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #777777;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: all ease 0.5s;
    margin-bottom: 60px;
}

.stats_div{
    margin-top: 24px;

}

.stats{
    display:flex;
    gap: 20px;
}

.views, .aplications, .date, .date_div{
    color:#777777;
    display: flex;
    gap:3px;
    align-items: center;
}

.link {
    text-decoration: none;
}


.salary_div{
    display: flex;
    gap: 16px;
    align-items: center;
}

.salary{
    color: #2a9c08;
    font-size: 20px;
    margin-bottom: -10px;
}